In [1]:
import numpy as np
import pandas as pd

In [2]:
cname = ['wrist x value', 'wrist y value', 'wrist z value', 'thigh x value', 'thigh y value', 'thigh z value', 'class']
cname2 = ['wrist x value', 'wrist y value', 'wrist z value', 'thigh x value', 'thigh y value', 'thigh z value']
train = pd.read_csv('training.csv', names=cname, header=None)
df_train = pd.DataFrame(train)
df_train

,wrist x value,wrist y value,wrist z value,thigh x value,thigh y value,thigh z value,class
0,-0.453125,-1.234375,0.250000,-1.218750,-0.343750,0.078125,walkfast
1,-0.453125,-1.218750,0.265625,-1.250000,-0.281250,-0.078125,walkfast
2,-0.468750,-1.187500,0.281250,-1.296875,-0.218750,-0.125000,walkfast
3,-0.468750,-1.109375,0.296875,-1.375000,-0.218750,-0.125000,walkfast
4,-0.468750,-1.031250,0.296875,-1.437500,-0.281250,-0.125000,walkfast
...,...,...,...,...,...,...,...
29995,-0.468750,-0.859375,0.296875,-0.937500,-0.171875,0.218750,walkslow
29996,-0.468750,-0.875000,0.296875,-0.953125,-0.187500,0.218750,walkslow
29997,-0.453125,-0.875000,0.296875,-0.953125,-0.203125,0.187500,walkslow
29998,-0.437500,-0.875000,0.296875,-0.953125,-0.203125,0.171875,walkslow
29999,-0.437500,-0.875000,0.312500,-0.953125,-0.187500,0.156250,walkslow

In [3]:
test = pd.read_csv('testing.csv', names=cname2, header=None)
test

,wrist x value,wrist y value,wrist z value,thigh x value,thigh y value,thigh z value
0,-0.390625,-1.109.375,0.218750,-0.828125,-0.109375,0.15625
1,-0.390625,-109.375,0.203125,-0.8125,-0.1875,0.28125
2,-0.375,-10.625,0.187500,-0.8125,-0.265625,0.28125
3,-0.375,-1.046.875,0.171875,-0.8125,-0.265625,0.21875
4,-0.34375,-1.015.625,0.171875,-0.8125,-0.203125,0.1875
...,...,...,...,...,...,...
295,-0.484375,-0.859375,0.218750,-0.96875,-0.28125,0.3125
296,-0.5,-0.875,0.218750,-0.953125,-0.3125,0.328125
297,-0.5,-0.890625,0.218750,-0.96875,-0.3125,0.34375
298,-0.5,-0.90625,0.218750,-1.0,-0.28125,0.328125
299,-0.5,-0.921875,0.218750,-1.0,-0.25,0.265625

In [4]:
# preprocessing test data for number with double dots
test = test.astype(str).apply(lambda x: x.str.replace(',', '.'))
test
# take the first 4 number of each number to convert it to float
test = test.astype(str).apply(lambda x: x.str[:4])
test = test.astype(float)
test

,wrist x value,wrist y value,wrist z value,thigh x value,thigh y value,thigh z value
0,-0.3,-1.1,0.21,-0.8,-0.1,0.15
1,-0.3,-109.0,0.20,-0.8,-0.1,0.28
2,-0.3,-10.0,0.18,-0.8,-0.2,0.28
3,-0.3,-1.0,0.17,-0.8,-0.2,0.21
4,-0.3,-1.0,0.17,-0.8,-0.2,0.18
...,...,...,...,...,...,...
295,-0.4,-0.8,0.21,-0.9,-0.2,0.31
296,-0.5,-0.8,0.21,-0.9,-0.3,0.32
297,-0.5,-0.8,0.21,-0.9,-0.3,0.34
298,-0.5,-0.9,0.21,-1.0,-0.2,0.32
299,-0.5,-0.9,0.21,-1.0,-0.2,0.26

In [5]:
# change the summary into numerical value
df_train['class'] = df_train['class'].map({'walkfast': -1, 'walkmod': 0, 'walkslow': 1})
df_train

,wrist x value,wrist y value,wrist z value,thigh x value,thigh y value,thigh z value,class
0,-0.453125,-1.234375,0.250000,-1.218750,-0.343750,0.078125,-1
1,-0.453125,-1.218750,0.265625,-1.250000,-0.281250,-0.078125,-1
2,-0.468750,-1.187500,0.281250,-1.296875,-0.218750,-0.125000,-1
3,-0.468750,-1.109375,0.296875,-1.375000,-0.218750,-0.125000,-1
4,-0.468750,-1.031250,0.296875,-1.437500,-0.281250,-0.125000,-1
...,...,...,...,...,...,...,...
29995,-0.468750,-0.859375,0.296875,-0.937500,-0.171875,0.218750,1
29996,-0.468750,-0.875000,0.296875,-0.953125,-0.187500,0.218750,1
29997,-0.453125,-0.875000,0.296875,-0.953125,-0.203125,0.187500,1
29998,-0.437500,-0.875000,0.296875,-0.953125,-0.203125,0.171875,1
29999,-0.437500,-0.875000,0.312500,-0.953125,-0.187500,0.156250,1

In [6]:
X_train = df_train.iloc[:, 0:6].values
y_train = df_train.iloc[:, 6].values
data = X_train

In [7]:
class KNNClassifier:
    def __init__(self, k):
        self.k = k
    
    def fit(self, X_train, y_train):
        self.X_train = X_train
        self.y_train = y_train
    
    def euclidean_distance(self, x1, x2):
        return np.sqrt(np.sum((x1 - x2)**2))
    
    def predict(self, X_test):
        y_pred = []
        for x in X_test:
            distances = [self.euclidean_distance(x, x_train) for x_train in self.X_train]
            k_indices = np.argsort(distances)[:self.k]
            k_nearest_labels = [self.y_train[i] for i in k_indices]
            most_common = max(set(k_nearest_labels), key=k_nearest_labels.count)
            y_pred.append(most_common)
        return y_pred

In [8]:
# knn
knn = KNNClassifier(k=3)
knn.fit(X_train, y_train)
y_pred = knn.predict(test.values)
y_pred

[-1,
 -1,
 -1,
 0,
 -1,
 -1,
 -1,
 -1,
 -1,
 0,
 0,
 0,
 -1,
 0,
 -1,
 -1,
 0,
 0,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1,
 -1,
 -1,
 1,
 0,
 -1,
 -1,
 -1,
 -1,
 0,
 0,
 0,
 0,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 0,
 0,
 1,
 1,
 -1,
 -1,
 -1,
 -1,
 -1,
 0,
 -1,
 0,
 0,
 0,
 0,
 0,
 0,
 -1,
 -1,
 -1,
 1,
 1,
 0,
 0,
 -1,
 -1,
 -1,
 -1,
 -1,
 0,
 0,
 0,
 0,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 0,
 -1,
 1,
 -1,
 -1,
 -1,
 0,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -1,
 1,
 -1,
 0,
 0,
 1,
 1,
 1,
 0,
 -1,
 -1,
 0,
 0,
 0,
 -1,
 -1,
 -1,
 -1,
 0,
 0,
 0,
 -1,
 1,
 -1,
 0,
 -1,
 1,
 -1,
 -1,
 1,
 -1,
 -1,
 -1,
 -1,
 -1,
 0,
 -1,
 0,
 -1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1,
 -1,
 -1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 1,
 1,
 -1,
 -1,
 1,
 0,
 0,
 0,
 -1,
 -1,
 -1,
 1,
 -1,
 0,
 -1,
 1,
 -1,
 1,
 1,
 0,
 0,
 -1,
 0,
 0,
 1,
 1]

In [9]:
# create ID and prediction column dataframe
id = np.arange(1, len(y_pred)+1)
id = id.reshape(-1, 1)
id
y_pred = np.array(y_pred)
y_pred = y_pred.reshape(-1, 1)
y_pred
df = np.concatenate((id, y_pred), axis=1)
df = pd.DataFrame(df, columns=['ID', 'label'])
df

      ID  label
0      1     -1
1      2     -1
2      3     -1
3      4      0
4      5     -1
..   ...    ...
295  296     -1
296  297      0
297  298      0
298  299      1
299  300      1

[300 rows x 2 columns]

In [10]:
#  change label back to walkfast, walkmod, walkslow
df['label'] = df['label'].map({-1: 'walkfast', 0: 'walkmod', 1: 'walkslow'})
df

      ID     label
0      1  walkfast
1      2  walkfast
2      3  walkfast
3      4   walkmod
4      5  walkfast
..   ...       ...
295  296  walkfast
296  297   walkmod
297  298   walkmod
298  299  walkslow
299  300  walkslow

[300 rows x 2 columns]

In [11]:
# save to csv
df.to_csv('submission.csv', index=False)